[include]
	path = ~/.gitconfig.local
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
[help]
	# https://blog.gitbutler.com/why-is-git-autocorrect-too-fast-for-formula-one-drivers/
	autocorrect = prompt
[commit]
	verbose = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = true
	editor = vim
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[alias]
	c = commit
	aa = add --all
	st = status -sb
	last = log -1 HEAD
	pf = push --force-with-lease
	lol = log --oneline --graph --decorate --all
	# https://stackoverflow.com/a/11688523/472927
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
